module/tes/__pycache__
__pycache__
module/build
module/tes.egg-info
test.ipynb
DATA
Images
new_calibration copy.ipynb
one_script_to_rule_them_all copy.ipynb
pca_clustering_analysis_updated.ipynb
!module/tests/data